/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: 'Inter-Variable';
  font-style: normal;
  font-weight: 400 785;
  font-display: swap;
  src: local('Inter-Variable'),
       url('./Inter-Variable.woff2') format('woff2 variations');
}

@font-face {
  font-family: 'PressStart2P-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PressStart2P-Regular'),
       url('./PressStart2P-Regular.woff') format('woff');
}