/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/* Состояния интерактивности */
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  transition: border-color 0.3s ease;
  border-color: var(--accent-color);
}

/* Эффекты при нажатии (Active) */
.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 300ms;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

/* Базовые параметры элементов иконки */
.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 300ms 0.03s;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 100ms linear;
}

/* Состояния активного лайка (is-liked) */
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 300ms 0.06s;
}

/* Настройки для устройств с мышью */
@media (hover: hover) and (pointer: fine) {
  .like-icon:hover .main-body {
    fill: var(--contour-color);
    transition: fill 0.3s 0.05s;
  }

  .like-icon:hover .core {
    fill: var(--contour-color);
    transition: fill 0.3s;
  }

  .base_button:hover::after {
    transform: translateX(0);
  }
}

/* Блок анимаций */
.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-fade-in 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
  animation: heart-pulse 0.3s 0.1s ease-in;
  transform-origin: center;
}

@keyframes sparks-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes heart-pulse {
  from { transform: scale(1); }
  to { transform: scale(1.25); }
}